<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Signature Fraud Detector
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Signature Fraud Detector</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to check THE Signature?</strong>

  </div>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink] = "['/camera']">
      <ion-icon name="camera-sharp"> </ion-icon> 
      <ion-label>Camera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>